5
Agil
passAgil
Ini bio punya agil
1234567890
Pahing
Privat
R * R * R * R * R *
R * G @ B * G @ R *
R * G @ G @ G @ R *
R * G @ B * G @ R *
R * R * R * R * R *
Nuel
passNuel

08

Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
Vanson
passVanson
Bio vanson ini


Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
Kayla
passKayla


Legi
Publik
G * R * R * R * B *
G * G @ B * G @ B *
G * G @ G @ G @ B *
G * G @ B * G @ B *
G * R * R * R * B *
Aldy
passAldy

080812124343

Privat
R 1 R 0 R 0 R 1 R 1
R 2 G 9 B 9 G 2 R 3
R 3 G 8 G 8 G 3 R 5
R 4 G 7 B 7 G 4 R 7
R 5 R 6 R 6 R 5 R 9
1 0 1 0 0
0 1 1 0 0
1 1 1 1 1
0 0 1 1 1
0 0 1 1 1
3
1 0 1
3 1 2
4 2 2